/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a, .govuk:link {
    color: #1d70b8;
}
a:link, .govuk-link:link {
    /*color: #1d70b8 !important;*/   
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: 0.1578em;
}

    a:hover, .govuk-link:hover {
        text-decoration: underline;        
        text-decoration-thickness: max(3px, .0625rem);
        text-underline-offset: 0.1578em;
        color:#003078;
    }
    a:visited, .govuk-link:visited {
        color: #4c2c92;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.govuk-scrollable-pane {
    overflow-x: scroll;
    background: linear-gradient(to right, white, white, rgba(255, 255, 255, 0) calc(var(0.75em) * 2)),radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)),linear-gradient(to left, white, white, rgba(255, 255, 255, 0) calc(var(0.75em) * 2)),radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)) 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: local,scroll,local,scroll;
    background-size: 100% 100%,.75em 100%,100% 100%,.75em 100%
}

@media(max-width: 63.75em) {
    .govuk-scrollable-pane .govuk-table__header, .govuk-scrollable-pane .govuk-table__cell {
        white-space: nowrap
    }
}

#signed-in {
    text-align: right;
    padding-top: 15px;
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 0;
}

.input-width-15 {
    max-width: 14.5em;
}

.govuk-back-link {
    font-size: 19px !important;
    line-height: 1.25 !important;
    margin-top: 20px !important;
}

.back-link {
    background-color: white;
    border: aliceblue;
    cursor: pointer;
}

    /* Hover effect */
    .back-link:hover {
        text-decoration: underline;
    }

    .back-link:focus {
        outline: none;
    }

.change-link {
    background: none;
    border: none;
    color: #005ea5;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.1875rem;
    padding-left: unset;
}

    .change-link:focus {
        outline: none;
    }

.rainfall-suffix {
    margin-top: 30px;
}

.text-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

    .text-group h3, .text-group p {
        margin-bottom: 10px;
    }

.govuk-breadcrumbs-link {
    font-size: 19px !important;
    line-height: 1.25;
    margin-top: 20px;
}

hr.seperator_five {
    margin: 40px 0 40px 0;
}

#farm-title {
    margin-bottom: 20px;
    display: block;
}

    #farm-title p.address {
        margin-bottom: 15px;
    }

    #farm-title p {
        margin: 0;
        padding: 0;
    }

    #farm-title h1 {
        margin: 0 0 15px 0;
        padding: 0;
    }

.govuk-input__wrapper label {
    min-width: 40.0625em;
}

.govuk-input__wrapper input {
    max-width: 5.5em;
}

.alignRight {
    text-align: right !important;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.hint {
    font-weight: normal !important;
}

.margin-bottom-forty {
    margin-bottom: 40px !important;
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

    .table-container table {
        width: 100%;
        min-width: 600px;
        table-layout: auto;
    }

@media (min-width: 40.0625em) {   

    .table-container {
        overflow-x: auto;
    }
        .table-container table {
            width: 100%;
            min-width: 600px;
        }
}


hr.big_seperator {
    margin: 40px 0 40px 0;
    background-color: black;
    height: 2px;
    border: none;
}

.explanations h3 {
    margin-bottom: 0;
}

.nutrient-list {
    display: block;
    width: 100%;
    padding-bottom: 6px;
}

.big_crop_table_version_five td {
    width: 17%;
}

.big_crop_table_version_three {
    font-size: 17px;
}

.add-button {
    margin-bottom: 0 !important;
}

.big_crop_table_version_five {
    font-size: 17px !important;
}

    .big_crop_table_version_five td:last-child {
        /*padding-right: 0;
        text-align: right;*/
        width: 35%;
    }
.field-name {
    width: 14%;
}


#balance table {
    width: 50%;
}

.tabs-thirds {
    width: 66%;
}

.nonbold {
    font-weight: normal !important;
}

a:focus, .govuk-link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
    box-decoration-break: clone;
}

.data-table {
    font-size: 17px !important;
    margin-top: 20px;
}

.new-recomendation-table tr td:nth-child(1) {
    width: 21% !important;
}

.non-standard {
    font-size: 1.8rem;
}

.margin-bottom-sixty {
    margin-bottom: 60px !important;
}

.govuk-phase-banner__content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-left: 15px;
    padding-right:15px;
}

/*.govuk-service-navigation__list {
    display: flex;
    justify-content: space-between;
}*/


/*.govuk-phase-banner {
    width: 100%;
}

.govuk-phase-banner__content {
    max-width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
}

.govuk-phase-banner__content__top {
    align-items: flex-start !important;
}

.govuk-phase-banner__content__align {
    display: inline-flex !important;
    align-items: center;
}

.govuk-phase-banner__text__right {
    text-align: right !important;
}*/
.cancel-link__bottom_padding {
    padding-bottom: 2% !important;
}

@media print {
    .pagebreak {
        page-break-after: always;
        clear: both;
    }

    .noprint {
        display: none;
    }
}

#printbreak {
    height: 10px;
    background-color: #505a5f;
    margin-bottom: 40px;
}

.govuk-table-small {
    font-size: 17px !important;
}

.half-table-left {
    padding-right: 25px;
}

    .half-table-left th {
        width: 60%;
    }

.half-table-right {
    padding-left: 25px;
}

    .half-table-right th {
        width: 65%;
    }

.margin-bottom-twenty {
    margin-bottom: 20px !important;
}

.margin-bottom-thirty {
    margin-bottom: 30px !important;
}

.margin-top-eight {
    margin-bottom: 8px !important;
}

.pb-25 {
    padding-bottom: 25px !important;
}

@media print {
    .govuk-heading-xl {
        font-size: 22pt !important;
        line-height: 1.15;
        font-family: sans-serif;
        margin-bottom: 25pt !important;
    }

    .govuk-heading-l {
        font-size: 18pt !important;
        line-height: 1.05;
        margin-bottom: 15pt !important;
    }

    .govuk-table {
        font-size: 10pt !important;
        font-family: sans-serif !important;
        line-height: 1.15;
        margin-bottom: 30pt !important;
    }

    .govuk-body-lead, .govuk-body-l {
        font-size: 18pt !important;
        line-height: 1.15;
    }

    .govuk-table__caption--m {
        font-size: 18pt !important;
        line-height: 1.15;
    }

    .govuk-table__caption--s {
        font-size: 14pt !important;
        line-height: 1.15;
    }

    p, .govuk-body, .govuk-body-m {
        font-size: 10pt !important;
        line-height: 1.15;
    }

    .govuk-header {
        font-size: 10pt !important;
        line-height: 1.2;
        font-family: sans-serif;
    }

    .govuk-table__caption--m {
        font-size: 13pt !important;
        line-height: 1.15;
    }

    .govuk-heading-s {
        font-size: 10pt !important;
        line-height: 1.15;
    }

    .govuk-heading-m {
        font-size: 13pt !important;
        line-height: 1.15;
        margin-bottom: 10pt !important;
    }

    .govuk-footer {
        font-size: 10pt !important;
        line-height: 1.2;
    }

    .govuk-list {
        font-size: 10pt !important;
        line-height: 1.15;
        color: #000000;
        margin-bottom: 15pt !important;
    }

    .govuk-header__service-name,
    .govuk-header__link--service-name {
        font-size: 13pt !important;
        line-height: 1.15 !important;
    }

    .govuk-header__link--homepage {
        font-size: 16pt !important;
    }

    .govuk-header__logotype-crown {
        height: 16pt !important;
        margin-right: 1pt !important;
    }
    .govuk-header__container {
        position: relative !important;
        margin-bottom: -10px !important;
        padding-top: 10px !important;
        border-bottom: 10px solid black !important;
    }
}

.check-answers dt.govuk-summary-list__key {
    width: 45%;
}

.check-answers dd.govuk-summary-list__value {
    width: 35%;
    padding: 0;
}

.guidance {
    display: block;
    width: 100%;
}
.nmax_header h1 {
    margin-bottom: 20px;
}
.new_nmax_table_crop th {
    margin-right: 5px;
}

.new_nmax_table_crop .col_1 {
    width: 122px;
}

.new_nmax_table_crop .col_2 {
    width: 45px;
}

.new_nmax_table_crop .col_3 {
    width: 52px;
}

.new_nmax_table_crop .col_4 {
    width: 94px;
}

.new_nmax_table_crop .col_5 {
    width: 94px;
}

.new_nmax_table_crop .col_6 {
    width: 70px;
}

.new_nmax_table_crop .col_7 {
    width: 120px;
}

.new_nmax_table_crop .col_8 {
    width: 100px;
}

.new_nmax_table_crop .col_9 {
    width: 100px;
}

.new_nmax_rates_table th {
    margin-right: 5px;
}

.new_nmax_rates_table .col_1 {
    width: 122px;
}

.new_nmax_rates_table .col_2 {
    width: 45px;
}

.new_nmax_rates_table .col_7, .new_nmax_rates_table .col_8 {
    width: 100px;
}
.total_row {
    background-color: #f3f2f1;
    font-weight: bold;
}
hr.seperator_forty {
    margin: 40px 0 40px 0;
}
.strong {
    font-weight: bold !important;
}
.margin-bottom-none {
    margin-bottom: 0;
}
.new_nmax_table, .new_nmax_rates_table, .new_nmax_table_grass, .new_nmax_rates_table_grass {
    margin-bottom: 40px;
    font-size: 17px;
}


.new_nmax_rates_table th {
    margin-right: 5px;
}

.new_nmax_rates_table .col_1 {
    width: 122px;
}

.new_nmax_rates_table .col_2 {
    width: 45px;
}

.new_nmax_rates_table .col_7, .new_nmax_rates_table .col_8 {
    width: 100px;
}

.new_nmax_table_grass th {
    margin-right: 5px;
}

.new_nmax_table_grass .col_1 {
    width: 122px;
}

.new_nmax_table_grass .col_2 {
    width: 45px;
}

.new_nmax_table_grass .col_6, .new_nmax_table_grass .col_7 {
    width: 100px;
}

.new_nmax_rates_table_grass th {
    margin-right: 5px;
}

.new_nmax_rates_table_grass .col_1 {
    width: 122px;
}

.new_nmax_rates_table_grass .col_2 {
    width: 45px;
}

.new_nmax_rates_table_grass .col_7, .new_nmax_rates_table_grass .col_8 {
    width: 100px;
}

hr.seperator_thirty {
    margin: 30px 0 30px 0;
}

/*.govuk-task-list {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;
    text-transform: none !important;
}

.govuk-task-list__item {
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
}

.govuk-task-list__name-and-hint {
    display: table-cell;
    vertical-align: top;
    color: #0b0c0c;
}

.govuk-task-list__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.govuk-task-list__status {
    display: table-cell;
    padding-left: 10px;
    text-align: right;
    vertical-align: top;
    color: #0b0c0c;
    font-weight: normal;
    text-transform: none !important;
}*/

/*.govuk-tag--blue {
    text-transform: none !important;
    font-weight: 400;
    font-size: 19px;
    color: rgb(12, 45, 74);
    font-stretch: normal;
    font-style: normal;
}*/
.livestock-type {
    width: 25%;
}
.govuk-body-s {
    font-size: 17px !important;
}
.n-table th {
    width: 33%;
}
.farm_area_derogated th {
    width: 50%;
}
@media (min-width: 40.0625em) {
    p, .govuk-body, .govuk-body-m {
        margin-bottom: 20px;
    }
}
.address_row {
    border-bottom: 2px solid darkgrey;
}
.manure_type {
    width: 12%;
}
.manure_quantity {
    width: 14.5%;
}
.manure_nitrogen {
    width: 15%;
}
.manure_total_nitrogen {
    width: 17%;
}
.manure_supplier_receiver {
    min-width: 111px;
}
.govuk-table__cell {
    white-space: normal !important;
    word-break: keep-all !important;
    overflow-wrap: break-word !important;
}
.total_row {
    background-color: #f3f2f1;
    font-weight: bold;
}

/* Hidden by default */
.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    /* Show overlay when 'show' class is added */
    .loading-overlay.show {
        display: flex;
    }

/* Spinner animation */
.loading-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #00703c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto 1em;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.margin-bottom-ten {
    margin-bottom: 10px !important;
}
.storage_name {
    width: 35%;
}
.manure_store_totals th:first-child {
    width: 35%;
}

#all-plans-table {
    margin-top: 10px;
}

.nav_left{
    float:left;
}

.nav_right {
    float: inline-end;
    text-align: end;
    padding-top: 5px;
    /*padding-bottom: 10px;*/
    /*display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;*/
}

.govuk-service-navigation__item:last-child {
    margin-right: 15px;
}


#session-timeout-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.9);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.govuk-!-display-none {
    display: none !important;
}

.session-timeout-box {
    max-width: 700px;
    margin: auto;
}

.session-timeout-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.govuk-caption-l {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    display: block;
    margin-bottom: 5px;
    color: #505a5f;
}
@media (min-width: 40.0625em) {
    .govuk-caption-l {
        margin-bottom: 0;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}
